html{
    height:100%;
    margin:0;
}

body{
    background-color:#1F1F1F;
    height:100%;
    margin:0;
    font-family: 'Monaco', monospace;
}

input, pre {
    font-family: 'Monaco', monospace;
}

header{
    background-color: #2F2F2F;
    height: 12%;
    color:white;
    border-bottom: solid 3px white;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.rightHeader {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:fit-content;
    column-gap: 20px;
}

a {
    text-decoration: none;
    color:white;
}

.logo{
    height: 10vh;
}

.clocheNotif {
    width:40px;
    transition: width 0.2s;
}

.clocheNotif:hover {
    width: 50px;
}

.nbNotifs {
    position: absolute;
    background-color: #FF0700;
    height:fit-content;
    width:fit-content;
    padding:2px;
    border-radius: 4px;
    top:7%;
    right:1.2%;
}

.nbNotifs p {
    height:fit-content;
    width:fit-content;
    margin:0;
    color:white;
    text-decoration: none;
    font-size: 12px;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    height: 100%;
    padding: 0 20px; 
}

.profilePicture {
    width:40px;
    height:40px;
    border-radius: 100%;
}

.notCoContainer{
    display:flex;
    flex-direction: row;
    height:fit-content;
    width:fit-content;
    gap: 10px;
    padding:10px;
    margin:5px;
}

.notCoContainer button {
    background-color: #0070FF;
    color:white;
    font-family: 'Monaco', monospace;
    border:none;
    font-size:18px;
    border-radius:8px;
    padding:10px;
    margin:5px;
}

.notCoContainer button:hover {
    background-color:#065fd4;
}

label{
    color: #E9E9E9;
}

.containerUsername {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    top: 100%;
}

.containerNamePP {
    display:flex;
    flex-direction: row;
    column-gap: 20px;
    width:fit-content;
    align-items: center;
}

.dropdown {
    display: none;
    position: absolute;
    top: 75%; 
    background-color: #505050;
    border-radius: 1vw;
    width: max-content;
    flex-direction: column;
    z-index: 999;
}

.containerUsername:hover .dropdown {
    display: flex;
}

.dropOp {
    color: white;
    background-color:#505050;
    border:solid white 2px;
    padding: 10px;
    text-align: center;
}

.dropUp{
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}

.dropUp:hover {
    background-color: #0070FF; 
}

.dropLow{
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

.dropLow:hover {
    background-color: #FF0700; 
}


.dropdown_animation {
    animation: rotateX 100ms ease-in-out forwards
    
}
    
@keyframes rotateX {
     0% {
        transform: rotateX(90deg)
    }
    80% {
        transform: rotateX(-10deg)
    }
    100% {
        transform: rotateX(0)
    }
}

.modoList {
    background-color:#2F2F2F;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    width:40vw;
    margin-top:2%;
    margin-inline: auto;
    padding:2%;
    border-radius: 20px;
}

.modo {
    background-color: #1F1F1F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:90%;
    padding:2%;
    border-radius: 10px;
    border: solid #505050 3px;
}

.modo .userInfo {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

.modo .demoteButton {
    background-color: #FF0700;
    padding:2%;
    border-radius:10px;
}

    /*mode téléphone*/
    @media (max-width: 760px) {
        header{
            height: fit-content;
            display: flex;
            justify-content: fit-;
            align-items:center;
        }
        .container {
            flex-direction: column;
            align-items: center;
        }
        .headerContainer {
            flex-wrap: wrap;
        }

        .notCoContainer {
            zoom: 80%;
        }
        .logo {
            zoom: 70%;
        }

        .usernamePar {
            max-width: 75%;
            word-wrap:break-word;
        }
        .containerNamePP {
            column-gap: 0;
            max-width: 150px;
        }
        .containerUsername {
            column-gap: 0;
            justify-content: center;
        }

        .modo .userInfo {
            align-items: center;
            justify-content: left;
            max-width: 50%;
        }

        .modo {
            max-width: 90%;
        }

        .modoList {
            width: 80%;
        }

        .name {
            word-wrap: break-word;
            max-width: 100%;
            justify-content: left;
        }
    }
    